.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
}
.top-bar p{
    font-size: 1.5rem;
    font-weight: 600;
    color: #fefefe;
    margin-left: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}